github3.py==2.0.0
boto3
#test
appnope==0.1.0
backcall==0.2.0
beautifulsoup4==4.9.3
bleach==2.1.4
certifi==2018.8.24
chardet==3.0.4
Click==7.1.2
cycler==0.10.0
decorator==4.3.0
defusedxml==0.5.0
#SECOND
terminado==0.8.1
testpath==0.4.1
tornado==5.1.1
traitlets==4.3.2
tweepy==3.6.0
urllib3==1.23
virtualenv==16.0.0
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.4.2
xlrd==1.1.0
#One_More
prompt-toolkit==2.0.7
protobuf==3.6.1
protobuf-to-dict==0.1.0
ptyprocess==0.6.0
Pygments==2.2.0
